<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Style.css" />
    <title>WishList</title>
</head>

<body>
    <header>
        <div class="ContainerGrid ContainerHeader">
            <div class="Logotipo">
                <img src="assets_/splotch-solid 1.png" />
                <span>WishList</span>
            </div>
            <nav>
                <a>Home</a>
            </nav>
        </div>
    </header>
    <main>
        <section class="Banner">
            <div class="ContainerGrid ContainerBanner">
                <h1>WishList</h1>
                <span>Defina seus sonhos,
                    desejos e objetivos
                    para o futuro!</span>
            </div>
        </section>
        <section class="Cadastro">
            <div class="ContainerGrid ContainerCadastro">
                <h2>Cadastro</h2>
                <form class="FormularioCadastro">
                    <div class="CamposFormulario">
                        <div class="CampoFormCadastro">
                            <label>Descrição</label>
                            <input type="text" />
                        </div>
                        <div class="CampoFormCadastro">
                            <label>Usuário</label>
                            <select></select>
                        </div>
                    </div>
                    <button class="FormSubmit" type="submit">Cadastrar</button>
                </form>
            </div>
        </section>
        <section class="Lista">
            <div class="ContainerLista ContainerGrid">
                <h2>Desejos</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Desejo</th>
                            <th>Sonhador</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Descrição</td>
                            <td>Email</td>
                        </tr>
                        <tr>
                            <td>Descrição</td>
                            <td>Email</td>
                        </tr>
                        <tr>
                            <td>Descrição</td>
                            <td>Email</td>
                        </tr>
                        <tr>
                            <td>Descrição</td>
                            <td>Email</td>
                        </tr>
                        <tr>
                            <td>Descrição</td>
                            <td>Email</td>
                        </tr>
                        <tr>
                            <td>Descrição</td>
                            <td>Email</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>
    <footer>
        <div class="ContainerGrid ContainerFooter">
            <div class="Logotipo">
                <span>WishList</span>
                <img src="assets_/splotch-solid 1.png" />
            </div>
        </div>
    </footer>
</body>

</html>